<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <br/>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <div class="mb-3">
              <label for="nameSurname" class="form-label">Ad Soyad</label>
              <input type="text" formControlName="nameSurname" class="form-control" id="nameSurname" aria-describedby="emailHelp" placeholder="Ad Soyad"
              [ngClass]="{'is-invalid': submitted && component.nameSurname?.errors}">
              <div id="emailHelp" class="form-text">Bilgileriniz paylaşılmayacak.</div>
              <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component.nameSurname?.errors?.required">Lütfen ad soyadı boş geçmeyiniz.</small>
              <small class="form-text text-muted invalid-feedback" *ngIf="submitted && (component.nameSurname?.errors?.maxlength || component.nameSurname.errors?.minlength)">Bu bölüm uzunluğu 3 - 50 kararkter olmalıdır.</small>
            </div>
            
            <div class="mb-3">
              <label for="userName" class="form-label">Kullanıcı Adı</label>
              <input type="text" formControlName="userName" class="form-control" id="userName" aria-describedby="emailHelp" placeholder="Kullanıcı Adınız">
            </div>
            <div class="mb-3">
              <label for="email">Email</label>
              <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="E-posta">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Şifre</label>
              <input type="password" formControlName="password" class="form-control" id="password" placeholder="Şifre">
            </div>
            <div class="mb-3">
              <label for="passwordConfirm" class="form-label">Şifre Tekrar</label>
              <input type="password" formControlName="passwordConfirm" class="form-control" id="passwordConfirm" placeholder="Şifre Tekrarı">
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Kayıt Ol</button>
          </form>
    </div>
    <div class="col-md-3"></div>
</div>